table th {
    text-align: center;
    padding: 10px;
    background-color: #AACE9B;
    color: #373867;
  }

  .tr:hover {
    background-color: #aace9bb7;
  }

  .tr td {
    text-align: center;
    padding: 10px;
  }