.body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 100%;
}

body thead {
    color: black;
    margin-left: 0;
    justify-content: start;
}

body thead th {
    text-align: start;

}
