.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

th {
  width: 200px;
  height: 50px;
  background-color: #EA3354;
}

.tr:hover {
  background-color: #aace9bb7;
}

.tr td {
  text-align: center;
  padding: 10px;
}
