body{
  margin: 0;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97%;
}

.container button{
  padding: 10px 15px;
  background-color: rgb(170, 206, 155);
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 5px;
  color: rgb(55, 56, 103);
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px
}

.container button:hover{
  background-color: rgb(55, 120, 28);
  color: rgb(0, 0, 0);
  transition-duration: 0,4s;
}

.container button:active{
  background-color: rgb(38, 82, 19);
  transform: translateY(4px);
}

.containerLoading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #aace9b;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}