.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 50px;
  background-color: #AACE9B;
}

.brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.socialIcon {
  margin-left: 15px;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 20%;
  }
}