.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding: 60px;
}

.container h2 {
  display: flex;
  justify-content: center;
  color: #373867;
  font-size: 28px;
  text-shadow: 2px 2px 4px #00000070;
  margin-top: 0px;
}

.container label {
  text-align: start;
  color: #373867;
  font-weight: 500;
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-style: solid;
  border-color: #373867;
  border-radius: 10px;
  padding: 30px;
  max-width: 600;
}

.container h2 {
  color: #373867;
  font-size: 28px;
  text-shadow: 2px 2px 4px #00000070;
  margin-top: 0px;
}

.containerForm form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 10px;
  min-width: 320px;
}

.containerInput {
  text-align: left;
  width: 100%;
  margin: 5px 5px;
}

.containerButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  gap: 30px;
}

.containerButtons button {
  width: auto;
  height: 40px;
  margin: 15px 15px 0px 5px;
}

.parLog {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 12px;
  color: #373867;
  text-shadow: 2px 2px 4px #00000070;
}

.anchor {
  text-decoration: none;
}

.anchor:hover {
  color: #4346f3;
  font-weight: bold;
}

.anchor:active {
  color: #ff0000;
}
