.container{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #00000080;
}

.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 25px;
  width: 30%;
  background: #DDDDDD;
  border-radius: 10px;
}

.container h2 {
  margin: auto;
  width: 100%;
  text-align: center;
}

.container form div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.container form div input {
  height: 22px;
  border: 1px solid #999999;
  border-radius: 2px;
}