.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #00000080;
}

.container h2{
  margin-left: 5%;
}

.container label{
  display: flex;
  flex-direction: column;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 80%;
  background-color: #ffffff;
  margin-left: 5%;
  border-radius: 10px;
  gap: 15px
}

.container input[type="submit"]{
  margin-left: 20px;
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #aace9b;
  border: #000000 solid 1px;
  border-radius: 5px;
  color: #373867;
  margin-left: 10px;
  box-shadow: 3px 3px 10px
}

.container input[type="submit"]:hover{
  background-color: #37781c;
  color: #ffffff;
  transition-duration: 0,4s;
}

.container input[type="submit"]:active{
  background-color: #265213;
  transform: translateY(4px);
}