.title {
    color: #373867;
    text-transform: uppercase;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .table {
    margin: 1rem;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    text-align: center;
  }

  .table td {
    border: 2px solid #9A9BB0;
  }

  .table thead {
      background-color: #BEBEBE;
  }

  .table th {
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    text-align: start;
    background-color: #BEBEBE;
    color: #373867;
  }