.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 30px;
}
.container img {
  width: 250px;
}

.container h2 {
  color: #373867;
  font-size: 32px;
  text-shadow: 2px 2px 4px #00000070;
  margin-top: 0px;
}
/* .homeContainer {
  align-self: center;
  text-decoration: none;
} */