.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #00000070;
}

.container h2 {
  color: #373867;
  text-shadow: 2px 2px 4px #00000070;
}

.container label {
  color: #373867;
  font-weight: 500;
}

.containerForm, .containerFormEmployees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: #f0f4f9;
  border-radius: 10px;
  overflow: auto;
}

.containerForm form, .containerFormEmployees form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 20px;
}

.containerInput {
  width: 44%;
  margin: 0 5px;
}

.containerButtons {
  display: flex;
  width: 75%;
  gap: 40px;
  margin-bottom: 30px;
}

.tr:hover {
  background-color: #aace9bb7;
}

.tr td {
  text-align: center;
  padding: 3px;
}

.containerTable {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 20px;
}

table {
  margin: 20px 0px;
}

.containerFormEmployees {
  width: 30%;
}

