.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #00000070;
}

.container h2 {
  margin-left: 5%;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 80%;
  background-color: #f0f4f9;
  border-radius: 10px;
  gap: 15px;
}

.container label {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container input, select {
  width: 220px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #ffffff;
  border: #000000 solid 1px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px;
}

.container input[type='submit'] {
  width: 200px;
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #771628;
  border: #4b4b4b solid 1px;
  border-radius: 5px;
  color: #ffffff;
  height: 700;
  box-shadow: 3px 3px 10px;
}

.container input[type='submit']:hover {
  background-color: #EA3354;
  color: #c9c7c7;
  transition-duration: 0, 4s;
}

.container input[type='submit']:active {
  transform: translateY(4px);
}

.container button {
  width: 100px;
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #771628;
  border: #4b4b4b solid 1px;
  border-radius: 5px;
  color: #ffffff;
  height: 700;
  box-shadow: 3px 3px 10px;
}

.container button:hover {
  background-color: #EA3354;
  color: #c9c7c7;
  transition-duration: 0, 4s;
}

.container button:active {
  transform: translateY(4px);
}