.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  color: #373867;
  text-shadow: 2px 2px 4px #00000070;
}

.container label {
  color: #373867;
  font-weight: 500;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  width: 40%;
  border-style: solid;
  border-color: #373867;
  border-radius: 10px;
}

.containerForm form {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75%;
  gap: 20px;
}

.divIm {
  display: flex;
}

.containerButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 63%;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.parLog {
  display: flex;
  flex: 1;
  font-size: 13px;
  color: #373867;
  text-shadow: 2px 2px 4px #00000070;
}

.anchor {
  text-decoration: none;
}

.anchor:hover {
  color: #4346f3;
  font-weight: bold;
}

.anchor:active {
  color: #ff0000;
}
