.container{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: #0000;
}

.container h2{
  margin-left: 5%;
}

.container label{
  display: flex;
  flex-direction: column;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 26%;
  background-color: #0A0A0A;
  margin-left: 5%;
  border-radius: 10px;
  gap: 15px
}