.shade {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #00000080;
    z-index: 99;
}

.billboard {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    min-width: 350px;
    min-height: 150px;
    max-width: 50%;
}

.btnX {
    align-self: end;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    margin-top: 0px;
    padding-right: 8px;
    padding-left: 0px;
    padding-top: 5px;
    cursor: pointer;
}

.content {
    width: 50%;
    padding-left: 44px;
    padding-right: 44px;
}

.content input{
    width: 500px;
}