.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #00000080;
}

.container label{
  display: flex;
  flex-direction: column;
}

.formButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 550px;
  padding: 40px 25px;
  background-color: #ffffff;
  border-radius: 10px;
  gap: 15px;
  overflow: auto;
}

.container h2 {
  margin: 0 0 25px 0;
  color: #373867;
  text-shadow: 2px 2px 4px #00000070;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
}

