.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.table {
  margin: 1rem;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
}

.table td {
  border: 2px solid #9a9bb0;
}

.table thead {
  background-color: #bebebe;
}

.table th {
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  text-align: start;
  background-color: #bebebe;
  color: #373867;
}

.page p {
  color: #373867;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons > div {
  margin: 5px;
}

tr:hover {
  background-color: #aace9bb7;
}

tr td {
  text-align: center;
  padding: 10px;
}
.input {
  padding: 5px;
  border: #373867 solid 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #00000090;
}
.inputD {
  padding: 5px;
  border: #373867 solid 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #00000090;
  margin-top: 25px;
  margin-right: 10px;
}
